<h1 mat-dialog-title>id урока </h1>
<div mat-dialog-content>
  <h2 mat-dialog-title>Дата </h2>
  <h2 mat-dialog-title>Преподаватель }</h2>
  <h2 mat-dialog-title>Тема </h2>
  <h2 mat-dialog-title>Статус }</h2>
  <h2 mat-dialog-title>Комментарий преподавателя </h2>
</div>
<table>
  <tr>
    <th>№</th>
    <th>Логин</th>
    <th>Имя</th>
    <th>Статус</th>
    <th>Комментарий</th>
  </tr>
  <!--  <tr *ngFor="let col of createCol">
    <td>{{col.id}}</td>
    <td>{{col.login}}</td>
    <td>{{col.name}}</td>
    <td>{{col.status}}</td>
    <td>{{col.commentary}}</td>
  </tr> -->
</table>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Отклонить</button>
  <button mat-button (click)="onNoClick()">Принять</button>
</div>
