<h2>Client</h2>

  <div *ngIf="client" class="form">
    <div class="text-center ">
      <div class="form-group">
        <button class=" btn btn-block send-button tx-tfm" [routerLink]="'/notifications'">
          <span>Уведомления</span>
        </button>
      </div>
      <button class=" btn btn-block send-button tx-tfm" [routerLink]="'/schedule'">
        <span>Расписание</span>
      </button>
    </div>
    <br>
    <div class="text-center ">
      <button class=" btn btn-block send-button tx-tfm" [routerLink]="'/request'">
        <span>Подать заявку</span>
      </button>

      <button class=" btn btn-block send-button tx-tfm" [routerLink]="'/complaint'">
        <span>Подать жалобу</span>
      </button>
    </div>
</div>

