<div class="container">
  <div class="col-md-6 mx-auto text-center">
    <div class="header-title">
      <h1 class="wv-heading--title">
        Регистрация
      </h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 mx-auto">

      <div *ngIf="errorMessage" class="alert" id="login_error">
        <span style="color: #840000">{{errorMessage}}</span>
      </div>

      <div class="form">
        <mat-form-field appearance="outline">
          <mat-label>Имя</mat-label>
          <input matInput [(ngModel)]="name" placeholder="Введите имя">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Логин</mat-label>
          <input matInput [(ngModel)]="login" placeholder="Введите логин">
        </mat-form-field>

        <mat-label>Выберите роль</mat-label>
        <mat-form-field appearance="fill">
          <mat-label>Статус</mat-label>
          <mat-select [(ngModel)]="status">
            <mat-option *ngFor="let status of statuses" [value]="status.value">
              {{status.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <div [formGroup]="myForm">
          <mat-form-field style="width:100%" appearance="outline">
            <mat-label>Пароль</mat-label>
            <input matInput
                   placeholder="Введите пароль"
                   formControlName="password"
                   [type]="hide2 ? 'password' : 'text'">
            <button mat-icon-button
                    matSuffix
                    (click)="hide2 = !hide2"
                    [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide2">
              <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="myForm.hasError('minlength', 'password')
            && !myForm.hasError('required', 'password')">
            Минимум 7 символов
          </mat-error>
            <mat-error *ngIf="myForm.hasError('required', 'password')">
              Введите пароль
            </mat-error>
          </mat-form-field>

          <mat-form-field style="width:100%" appearance="outline">
            <mat-label>Подтвердите пароль</mat-label>
            <input matInput
                   placeholder="Confirm password"
                   formControlName="confirmPassword"
                   [errorStateMatcher]="matcherForPassword"
                   [type]="hide ? 'password' : 'text'">
            <button mat-icon-button
                    matSuffix
                    (click)="hide = !hide"
                    [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="myForm.hasError('notSame')">
              Пароль недостаточен
            </mat-error>
          </mat-form-field>
        </div>

        <div class="text-center ">
          <button (click)="signUp()"
                  type="submit"
                  class=" btn btn-block send-button tx-tfm">
            Зарегистрироваться
          </button>
        </div>

        <div class="col-md-12 ">
          <div class="login-or">
            <hr class="hr-or">
            <span class="span-or">Или</span>
          </div>
        </div>

        <div class="form-group">
          <button (click)="signIn()" type="submit" class=" btn btn-block send-button tx-tfm">Войти</button>
        </div>

      </div>
    </div>
  </div>
</div>
